a {
    margin-left:50px;
    font-family:Lao MN;
    color:#1f1c6d;
    position: relative;
    top: 40px;
    text-decoration:none;
}
.nav.navbar-nav {
    text-align: center;
    font-weight: bold;
    background-color:white;
    min-height:100px;
    position: relative;
    font-size:25px;
}
body{
    margin: 0 !important;
}