// a {
//     margin-left:50px;
//     font-family:Lao MN;
//     color:#1f1c6d;
//     position: relative;
//     top: 40px;
//     text-decoration:none;
// }
// .nav.navbar-nav {
//     text-align: center;
//     font-weight: bold;
//     background-color:white;
//     min-height:100px;
//     position: relative;
//     font-size:25px;
// }
// body{
//     margin: 0 !important;
// }
.nav.navbar-nav {
    text-align:center;
    margin-bottom:20px;
    // background-color:#1e394a;
    height:60px;
}
a{
    color:white;
    font-family:Lao MN;
    font-size:20px;
    text-decoration:none;
     margin:10px;
}
li {
    margin-top:20px;
}
.allnav{
        margin-top: 75px;
}
img{
    vertical-align: middle;
    border-style: none;
    margin: 33px;
    height: 100px;
}
