// .container-fluid {
//     background-color: #034f84;
// }
// a {
//     color: white;
//     font-style: Arial;
//     text-decoration:none
// }
// li.active {
//     list-style:none
// }
.col-md-12.header {
    background-image: url("../assets/img/header3.jpg"); 
    height: 160px;
}
.col-md-12.center {
    background-image: url("../assets/img/centerheader2.jpg"); 
    height:780px;
}
.col-md-12.header {
    padding-left:0 !important;
    padding-right:0 !important;
}
.container-fluid {
    padding-right:0 !important;
}
// .leftside{
//     background-color: #1e394a;
//     height:900px;
// }
// .rightside{
//     background-color: #1e394a;
//     height:900px;
// }