// .container-fluid {
//     background-color: #034f84;
// }
// a {
//     color: white;
//     font-style: Arial;
//     text-decoration:none
// }
// li.active {
//     list-style:none
// }
.col-md-12.header {
    margin:-10px !important;
}
.col-md-8.center {
    margin-top:-10px !important;
    background-color:#AFEEEE;
    min-height:100px;
}
.col-md-12.header {
    padding-left:0 !important;
    padding-right:0 !important;
}
.container-fluid {
    padding-right:0 !important;
}